<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Help</title>
    </head>
    <body>
          <link rel="stylesheet" href="static/styless.css">
          <link rel="stylesheet" href="static/stylic.css">
      <h1>Welcome to the help center</h1>  
      <h2>These are the instruction:
            In the start when yu come to the home page yu log in 
            and if you arnt sign in click on sign up znd when you
            have signed up you will be redirected to the login page
            uou can enter your login details then you will be redirected to the Dashboard
      </h2>
    </body>
</html>
