<!DOCTYPE html>
<html>
    <head>
        <title>Sign up</title>
    </head>
    <body>
        <div class="signup-box">
            <h1>Sign up</h1>
            <h4>its free and it will only take a few minutes</h4>
            <form>
                <label>First Name</label>
                <input type="text" placeholder="">
                <label>Last Name</label>
                <input type="text" placeholder="">
                <label>Email</label>
                <input type="email" placeholder="">
                <label>Password</label>
                <input type="password" placeholder="">
                <label>Confirm password</label>
                <input type="password" placeholder="">
                <button type="button" onclick="window.location.href='/login'">Submit</button>
            </form>
            <p>By clicking the Sign In button you agree to our <br>
            <a href="#">Terms and conditions</a> and <a>Policy Privacy</a></p>
        </div>
        <p class="para-2">Already have an account <a href="/login">Login Here</a></p>
        <link rel='stylesheet' href='static/styles.css'>
    </body>
</html>